.about-section {
  display: block;
  overflow: auto;
  background: $background-gradient;
  padding: 40px 40px 0 40px;
  color: white;
  text-align: center;

  .about-header {
    font-family: $header-font;
    padding: 20px 0;
    font-size: 1.4em;
    font-weight: bold;
  }

  .blurb {
    max-width: 700px;
    margin: 0 auto;
    font-family: $body-font;
    font-size: 0.8em;
    font-weight: 200;
    line-height: 26px;
  }
}

.github-link {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  padding-top: 55px;

  .text a {
    color: white;
    // text-decoration: none;
    font-family: $header-font;
  }

  .github {
    width: 30px;
    height: 100%;

    a {
      display: block;
      height: 100%;
      width: 100%;

      .github-icon {
        height: 100%;
        width: 100%;
        margin-left: 10px;

        background: url('../images/github-icon-white.svg');
        background-repeat: no-repeat;
        background-size: contain;
      }
    }
  }
}
