.contact-section {
  display: block;
  overflow: auto;
  background: $background-gradient;
  margin: -1px 0;
  font-family: $body-font;
  padding-bottom: 100px;
  padding-top: 60px;

  .main-grid {
    display: grid;
    grid-template-columns: 80% auto;
    width: 80%;
    max-width: 500px;
    margin: 0 auto;

    @include md {
      margin-left: 10vw;
    }

    .form-container {
      form {
        width: 90%;

        label {
          display: none;
        }

        input,
        textarea {
          display: block;
          box-sizing: border-box;
          margin: 20px 0;
          width: 100%;
          font-family: inherit;
          padding: 5px 10px;
        }

        input {
          height: 40px;
        }

        textarea {
          height: 80px;
          padding-top: 8px;
        }

        button {
          display: block;
          width: 100%;
          height: 40px;

          appearance: none;
          border: 2px solid #52b64e;
          border-radius: 3px;

          background-color: white;

          font-weight: 600;
        }

        button:hover {
          border: 3px solid #52b64e;
          transform: scale(1.01);
        }
      }
    }

    .header-container {
      display: grid;
      grid-template-columns: 50% auto;
      padding-top: 20px;

      .svg {
        height: 100%;
        width: 100%;

        background: url('../images/contact-header.svg');
        background-position: 4px 0;
        background-repeat: no-repeat;
        background-size: 80%;
      }

      .subheader {
        position: relative;
        margin-bottom: 20px;
        height: 100%;
        border-left: 1px solid white;
        border-right: 1px solid white;

        p {
          width: 90%;
          margin: 0 auto;
          color: white;
          writing-mode: vertical-lr;

          @include custom(500) {
            width: 80%;
            font-size: 1.2em;
          }

          @include sm {
            font-size: 1.3em;
          }
        }
      }
    }
  }
}
