.website-section {
  position: relative;
  width: 100vw;

  .header {
    font-family: $header-font;
    font-size: 1.4em;
    font-weight: bold;
    text-align: center;
    padding: 20px 0 10px 0;

    @include sm {
      font-size: 1.8em;
    }

    @include md {
      font-size: 2.2em;
    }
  }

  .content {
    position: relative;
  }

  @include custom(500) {
    height: 100%;
  }

  .slider,
  .splide__slider,
  .splide,
  .splide__track,
  .splide__list {
    height: 100%;

    .splide__slide img {
      width: 140%;
      height: 100%;
      filter: brightness(75%) blur(5px);

      @include sm {
        width: 135%;
      }
    }
  }

  .inner {
    position: absolute;
    top: 0px;
    left: 0;
    width: 84%;
    margin: 0 8%;
    height: 100%;
    display: grid;
    grid-template-columns: 50% auto;

    @include lg {
      width: 80%;
      margin: 0 10%;
    }

    .laptop {
      position: relative;
      width: 80%;
      max-width: 500px;
      margin: 33% auto;
      transition: 0.2s;

      .laptop--img {
        width: 100%;
      }

      .laptop--inner-img {
        position: absolute;
        top: 4%;
        left: 14%;
        width: 73.5%;
        height: auto;

        @include custom(500) {
          top: 4%;
          left: 13.5%;
        }
      }
    }

    .info {
      position: relative;
      margin: 15% auto;
      background: linear-gradient(
        to top,
        rgba(255, 255, 255, 1),
        rgba(235, 235, 235, 0.6)
      );
      height: 55%;
      width: 70%;
      max-width: 320px;
      padding: 20px 8px 0px 8px;
      font-family: $body-font;
      font-size: 100%;

      box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
      transition: 0.1s;

      @include custom(500) {
        padding: 26px 20px 10px 20px;
        width: 65%;
      }

      @include sm {
        padding: 30px 26px 10px 26px;
      }

      @include md {
        margin: 25% auto;
        height: 50%;
      }

      .info--inner {
        display: grid;
        height: 95%;
        grid-template-rows: 10% 20% auto 10%;

        @include custom(500) {
          grid-template-rows: 10% 30% auto 10%;
        }

        .info--subtitle,
        .info--blurb {
          font-size: 0.4em;
          line-height: 1.5em;

          // overflow: scroll;

          @include custom(500) {
            font-size: 0.5em;
            line-height: 1.6em;
          }

          @include sm {
            font-size: 0.6em;
          }

          @include md {
            font-size: 0.7em;
            line-height: 1.7em;
          }

          @include lg {
            font-size: 0.9em;
            line-height: 1.7em;
          }
        }

        .info--title {
          font-weight: bold;
          line-height: 14px;
          font-size: 0.6em;

          @include custom(500) {
            font-size: 0.9em;
            line-height: 18px;
          }

          @include sm {
            font-size: 1.1em;
            line-height: 20px;
          }

          @include md {
            font-size: 1.3em;
            line-height: 30px;
          }

          @include lg {
            font-size: 2em;
            line-height: 36px;
          }
        }

        .info--tech {
          font-weight: bold;
          font-size: 0.3rem;
          align-self: end;

          @include custom(500) {
            font-size: 0.5em;
          }

          @include sm {
            font-size: 0.5em;
          }

          @include md {
            font-size: 0.9em;
          }
        }
      }
    }
  }
}

.info:hover {
  transform: scale(1.1);
  opacity: 1;
}

.laptop:hover {
  transform: scale(1.2);
  transition: 0.2s;
}

.info--links {
  position: absolute;
  top: 5px;
  right: 5px;

  height: 13px;
  width: auto;

  display: flex;
  justify-content: flex-end;

  cursor: pointer;

  @include custom(500) {
    top: 5%;
    right: 5%;
    height: 20px;
  }

  .github-icon,
  .live-preview-icon {
    height: 100%;
    width: 16px;

    @include custom(500) {
      width: 17px;
      margin: 0 2px;
    }
  }

  .github-icon {
    background: url('../images/github-icon.svg');
    background-repeat: no-repeat;
    background-size: contain;
  }

  .live-preview-icon {
    background: url('../images/live-preview-icon.svg');
    background-repeat: no-repeat;
    background-size: contain;
  }
}
